*{
  box-sizing: border-box;
}
body{
  font-size: 2em;
}

.conteneur{
  margin: 0 auto;
  background-color: lightgrey;
  max-width: 960px;
  display: flex; /* Indique que son contenu sera en FLex */
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

.conteneur div{
  background-color: purple;
  margin: 10px 0px;
  padding: 5px 10px;

}


.col-12{
  flex-basis: 100%;
}

.col-6{
  flex-basis: 50%;
}

.col-4{
  flex-basis: 33.3%;
}

.col-3{
  flex-basis: 25%;
}

.col-2{
  flex-basis: 20%;
}

.col-1{
  flex-basis: 10%;
}
